name: github-stats
on:
    workflow_dispatch:
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRIC_TOKEN }}

                  user: raj8664
                  template: classic
                  base: header, activity, community, repositories, metadata
                  base_indepth: yes
                  config_timezone: Asia/Kolkata
                  plugin_languages: yes
                  plugin_languages_analysis_timeout: 15
                  plugin_languages_analysis_timeout_repositories: 7.5
                  plugin_languages_categories: markup, programming
                  plugin_languages_colors: github
                  plugin_languages_details: percentage, lines, bytes-size
                  plugin_languages_indepth: yes
                  plugin_languages_limit: 10
                  plugin_languages_recent_categories: markup, programming
                  plugin_languages_recent_days: 14
                  plugin_languages_recent_load: 300
                  plugin_languages_sections: most-used
                  plugin_languages_threshold: 0%
                  plugin_lines: yes
                  plugin_lines_history_limit: 10
                  plugin_lines_repositories_limit: 10
                  plugin_lines_sections: repositories
                  repositories_forks: yes
