name: Reactions

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Comment Reactions
              uses: lowlighter/metrics@latest
              with:
                  filename: metrics.plugin.reactions.svg
                  token: ${{ secrets.METRIC_TOKEN }}
                  base: ''
                  plugin_reactions: yes
                  plugin_reactions_limit: 1000
                  plugin_reactions_limit_issues: 1000
                  plugin_reactions_limit_discussions: 1000
                  plugin_reactions_limit_discussions_comments: 1000
                  plugin_reactions_days: 1000
                  plugin_reactions_display: absolute
                  plugin_reactions_details: count
                  output_action: commit
